#orientBackdrop {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(51, 51, 51, 0.85);
	text-align: center;
	z-index: 10000000;
	overflow-x: hidden;
	overflow-y: hidden;
}
#backdropText {
	font-family: inherit;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 4.5vw;
	color: white;
}